<h2>Useful Links:</h2>
<ul>
  <li>
    <a href='https://www.exploit-db.com/' target='_blank'>https://www.exploit-db.com/</a><br>
  </li>
  <li>
    <a href='https://www.cvedetails.com' target='_blank'>CVE Details</a><br>
  </li>
  <li>
    <a href='https://www.exploit-db.com/google-hacking-database' target='_blank'>Google Hacking Database</a>
  </li>
  <li>
    <a href='https://www.mxtoolbox.com/NetworkTools.aspx' target='_blank'>MX Toolbox: Network Tools</a>
  </li>
</ul>

<br><br><br>

<div>
  <a href='https://documentcloud.adobe.com/link/files/'>My Books (Adobe)</a>
</div>

<br><br><br><br><br>



<a href='#home'>
  <button id='btn_goToTop' href='#home'>
    Go to Top
  </button>
</a>

