<h2 class='category'>Useful Databases/Links:</h2>
<ul>
  <li>
    <a href='https://www.exploit-db.com/search?verified=true' target='_blank'>
      Exploit DB [verified]
    </a>
  </li>
  <li>
    <a href='https://www.exploit-db.com/google-hacking-database' target='_blank'>
      Google Hacking Database
    </a>
  </li>
  <li>
    <a href='https://github.com/swisskyrepo/PayloadsAllTheThings' target='_blank'>
      Payloads Database
    </a>
  </li>
  <li>
    <a href='https://lolbas-project.github.io/' target='_blank'>
      Living Off The Land Binaries and Scripts
    </a>
  </li>
  <li>
    <a href='https://gtfobins.github.io/' target='_blank'>
      GTFO Bins (Unix binaries)
    </a>
  </li>
  <li>
    <a href='https://hackerone.com/hacktivity?sort_type=latest_disclosable_activity_at&filter=type%3Aall&page=1&range=forever' target='_blank'>
      HackerOne Reports)
    </a>
  </li>
</ul>
