<div>
  <h2>Table of Contents</h2>
  <ol>
    <li>
      <a href='#penteestingTools'>Pentesting Tools</a>
    </li>
    <li>
      <a href='#scriptingLanguages'>Scripting Languages</a>
    </li>
    <li>
      <a href='#windowsSysinternals'>Windows Sysinternals</a>
    </li>
    <li>
      <a href='#programmingBestPractices'>Programming Best Practices</a>
    </li>
    <li>
      <a href='#reactjs'>React</a>
    </li>
    <li>
      <a href='#cloudServices'>Cloud Services</a>
    </li>
    <li>
      <a href='#languages'>Languages</a>
    </li>
    <li>
      <a href='#data'>Data Centric Languages</a>
    </li>
    <li>
      <a href='#databases'>Databases</a>
    </li>
    <li>
      <a href='#other'>Other</a>
    </li>
  </ol>
</div>
